.My_Card{
    width: 100;
    height: 100;
}

.v1{
    color: black !important;
    background-color: rgb(237, 19, 56) !important; /*overrides any existing styles*/
    border-color: rgb(234, 192, 255) !important;  
}